.cookie-button {
  font-size: 24px;
  width: 230px;
  height: 220px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(Cookie.png);
  border: none;
}